@media screen and (max-width: 400px) {
    body {
        background-image: url(images/BACK.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .Form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        height: 844px;
    }

    .FormIN {
        background-color: rgba(255, 255, 255, 0.205);
        padding: 10px 30px;
        margin: 55px 20px 10px;
        text-align: center;
        border: 5px solid pink;
        border-radius: 30px;
    }

    #Login {
        text-align: center ;
    }

    input {
        font-size: 18px;
        width: 130px;
        height: 20px;
        padding: 10px 0 10px;
        margin-right: 10px;
        border-radius: 20px;
        text-align: center;
        border: 3px solid pink;
    }

    .Name{
        padding-bottom: 20px;
    }

    .PASS{
        padding-bottom: 20px;
    }

    .LN {
        padding-right: 25px;
    }

    .LP{
        padding-right: 15px;
    }


    h1 {
        font-size: 36px;
    }

    label {
        font-size: 18px;
        padding: 0 0 0 20px;
    }

    button{
        font-size: 15px;
        padding: 15px 40px;
        border-radius: 20px;
        text-align: center;
        border: 3px solid pink;
        background-color: white;
        margin-bottom: 15px;
        color: black;
    }

}
