@media screen and (max-width: 400px) {
    body {
        background-image: url(../../images/BACK.png);
        background-repeat: no-repeat;
        background-size: cover;
    }


    a,
    a:visited,
    a:hover,
    a:active {
        display: block;
        font-size: 36px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 7px;
    }

    p{
        font-size: 18px;
    }

    main{
        background-color: rgba(255, 255, 255, 0.205);
        padding: 10px 20px;
        margin: 55px 50px 10px;
        text-align: center;
        border: 5px solid pink;
        border-radius: 30px;
    }
    input {
        font-size: 18px;
        width: 130px;
        height: 20px;
        padding: 10px 0 10px;
        border-radius: 20px;
        text-align: center;
        border: 3px solid pink;
    }

    button {
        background-color: white;
        border: 5px solid pink;
        border-radius: 20px;
        padding: 10px 20px;
        color: black;
    }

    .border{
        display: flex;
        align-items: center;
        height: 100%;
        height: 750px;
    }

    div{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
